* {
    box-sizing: border-box;
}

.grid_element{
    background-color: white;
    border: 1px solid black;
    float: left;
}

.grid_element:hover{   
    background-color: gray;
}

#new_grid_button{
    margin-bottom: 20px;
}